@model eShopSolution.ViewModels.Catalog.PostImages.PostImageCreateRequest

@{
    ViewData["Title"] = "UpLoadImage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>UpLoadImage</h1>

<h4>PostImageCreateRequest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpLoadImage" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Caption" class="control-label"></label>
                <input asp-for="Caption" class="form-control" />
                <span asp-validation-for="Caption" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDefault" /> @Html.DisplayNameFor(model => model.IsDefault)
                </label>
            </div>
            <div class="form-group ">
                <label asp-for="ImageFile" class="control-label d-flex text-center"></label>
                <input asp-for="ImageFile" type="file" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
</div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

